@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
:root {
  --white: hsl(0, 0%, 100%);
  --lightgray: hsl(212, 45%, 89%);
  --grayishblue: hsl(220, 15%, 55%);
  --darkblue: hsl(218, 44%, 22%);
  --fs: 15px;
  --spacing: 15px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: var(--fs);
  font-family: "Outfit", sans-serif;
  background-color: var(--lightgray);
  display: -ms-grid;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.card {
  padding: var(--spacing);
  background-color: var(--white);
  max-width: 303px;
  border-radius: var(--spacing);
  text-align: center;
}

.card-qr img {
  max-width: 100%;
  border-radius: var(--spacing);
}

.card-desc {
  padding: calc(var(--spacing) - 5px);
}

.card-desc h3 {
  color: var(--darkblue);
  font-size: calc(var(--fs) + 5px);
}

.card-desc p {
  margin-top: var(--spacing);
  font-size: var(--fs);
  color: var(--grayishblue);
}
